﻿.ax_default {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.future_state {
}
.thick_line {
}
.left-nav_tab {
  font-size:16px;
}
.shape {
}
.box_1 {
}
.image {
  color:#000000;
}
.heading_1 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.flow_shape {
}
.horizontal_line {
}
.vertical_line {
}
.fontawesome {
}
.icon {
}
.fontawesome1 {
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-size:36px;
  color:#797979;
}
