﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-19016px;
  width:495px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u265 {
  position:absolute;
  left:19016px;
  top:447px;
  width:495px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  white-space:nowrap;
}
